<!doctype html>
</body>
<head>
<title>Nimi </title>
</head>

<h1>Nimi Redirector</h1>
<p>Short link forwarding service.</p>

<h2>Links</h2>

<table>
{% for slug, url in routes %}
  <tr>
    <td>
      <form method="post">
        <input hidden="true" name="action" value="delete">
        <input hidden="true" name="slug" value="{{ slug }}">
        <button>X</button>
      </form>
    </td>
    <td><a href="{{ slug }}">{{ slug }}</a></td>
    <td><a href="{{ url }}">{{ url }}</a></td>
  </tr>
{% endfor %}
</table>
</body>
</html>
